$text-color: lighten(#000, 20);
$highlight-color: #000;
$application-background-color: #fff;

$main-background-color: #fff;
$special-color: #fff400;

$base-font-size: 18px;
$base-line-height: 26px;
$base-font-weight: 300;
$base-font: "Ubuntu", Lucida, Verdana, sans-serif;

$monospace-font: "Ubuntu Mono", Monaco, monospace, sans-serif;

$headline-font-size: $base-font-size * 2;
$headline-color: #000;
$headline-font-weight: 500;
$headline-font: $base-font;

$highlight-color: #0060A3;
$link-color: $text-color;