$text-color: lighten(#000, 20);
$highlight-color: #000;
$application-background-color: #fff;

$base-font-size: 16px;
$base-line-height: 24px;
$base-font-weight: 400;
$base-font: "Quicksand", "Myriad", "Lucida Grande", Lucida, Verdana, sans-serif;

$monospace-font: "Monaco", monospace, sans-serif;

$headline-font-size: 24px;
$headline-color: #000000;
$headline-font-weight: 700;
$headline-font: "Quicksand", "Myriad", "Lucida Grande", Lucida, Verdana, sans-serif;

$highlight-color: #0060A3;
$link-color: $text-color;