$text-color: lighten(#131215, 20);
$highlight-color: #000;
$application-background-color: #ffffff;

$main-background-color: $application-background-color;
$special-color: #FFDB00;

$base-font-size: 18px;
$base-line-height: 30px;
$base-font-weight: 300;
$base-font: "Ubuntu", Lucida, Verdana, sans-serif;

$monospace-font: "Ubuntu Mono", Monaco, monospace, sans-serif;

$headline-font-size: $base-font-size * 2.5;
$headline-color: #000;
$headline-font-weight: 500;
$headline-font: "Oswald", "Helvetica";

$highlight-color: #0060A3;
$link-color: $text-color;