// default values
$grid: false !default;

$grid-columns: 48 !default;
$grid-column-width: 10px !default;
$grid-gutter: 10px !default;

$grid-background-column-width: $grid-column-width;
$grid-background-gutter-width: $grid-gutter;
$grid-background-total-columns: $grid-columns;

@if ($grid) {
	body {
		@include grid-background();
	}
}

@mixin container() {
	display: table;
	width: ($grid-column-width + $grid-gutter) * $grid-columns;
	margin: 0 auto;
	clear: both;
}

@mixin column($n, $last: false) {
	float: left;
	margin-right: $grid-gutter;
	@if $last {
		width: $grid-column-width * $n + $grid-gutter * $n;
		@include last;
	} @else {
		width: $grid-column-width * $n + $grid-gutter * ($n - 1);
	}
}