@import "partial/typography";

html {
	@include background($application-background-color);
	min-height: 100%;
	padding: pxToEm(10px) pxToEm(20px) pxToEm(20px) pxToEm(20px);
	margin: 0 auto;
	max-width: 960px;
}

#header {
	text-align: center;
	@include trailer(1);
	h1 {
		&:before {
			position: relative;
			top: 0.125em;
			content: '■';
			font-size: 200%;
			color: #fff400;
		}
	}
	ul {
		li {
			display: inline-block;
			&:after {
				content: ' –';
			}
			&:last-child:after {
				content: '';
			}
		}
	}
	@media only screen and (max-width: 520px) {
		padding: 0;
		ul {
			padding: 0;
			@include trailer(0.5);
		}
		h1 {
			@include adjust-font-size-to($base-font-size * 1.5, 1);
		}
	}
}
#footer {
	display: inline-block;
	@include adjust-font-size-to($base-font-size * 0.75);
	@include leader(1);
	border-top: 1px double lighten($text-color, 40);
}

#main {
	img {
		width: 100%;
		&.barcode {
			@media only screen and (min-width: 520px) {
				float: right;
				margin-left: 2em;
				width: 300px;
				height: 300px; 
			}
		}
	}
}

ul.imagelist {
	list-style-type: none;
	padding: 0;
	li {
		display: inline-block;
		vertical-align: top;
		max-width: 24.5%;
		@include trailer(1);
		@media only screen and (max-width: 960px) {
			max-width: 32.5%;
		}
		@media only screen and (max-width: 480px) {
			max-width: 100%;
		}
		&:after {
			content: '';
		}
		a {
			text-decoration: none;
		}
	}
}