@import "partial/typography";

html {
	@include background($application-background-color);
	min-height: 100%;
}

#app {
	max-width: pxToEm(960px);
	min-height: 100%;
}
#sidebar {
	h1 {
		border-left: 10px double #fff400;
		border-right: 1px solid lighten($text-color, 60);
		padding-left: 0.25em;
	}
	float: left;
	padding: pxToEm(40px) pxToEm(20px) pxToEm(40px) pxToEm(40px);
	width: pxToEm(240px);
	display: table;
}
#main {
	margin-top: pxToEm(40px);
	display: table;
	clear: none;
	float: right;
	max-width: pxToEm(640px);
	img {
		width: 100%;
	}
}