@import "compass/layout/grid-background";

#{headings()} {
	
}
h1 {
	@include adjust-font-size-to($base-font-size * 3, 2);
	@include trailer(0.30);
}
h2 {
	@include adjust-font-size-to($base-font-size * 2, 2);
}

p, ul, ol, dl {
	@include trailer(1);
}

em {
	font-weight: 700;
	background-color: #FEFDE1;
}

strong {
	font-weight: 700;
}

#main {
	ul {
		padding-left: 1em;
		list-style-type: disc;
	}
	ol {
		padding-left: 1.5em;
		list-style-type: decimal;
	}
	&.about {
		ul, ol {
			padding: 0;
			@include trailer(1);
			li {
				display: inline;
			}
		}
		ol li {
			display: block;
			border-bottom: 1px solid darken(white, 20);
			@include padding-leader(0.25);
			@include padding-trailer(0.25);
			strong {
				margin-right: 0.25em;
				@media only screen and (max-width: 520px) {
					display: block;
					clear: both;
				}
			}
		}
	}
}