@import "compass/layout/grid-background";

#{headings()} {
}
h1 {
	font-style: italic;
	@include adjust-font-size-to($headline-font-size, 2);
	@include trailer(0.125);
	@media only screen and (max-width: 520px) {
		@include adjust-font-size-to($headline-font-size * 0.65, 1.25);
	}
}
h2 {
	font-style: italic;
	@include adjust-font-size-to($headline-font-size * 0.75, 2);
	@media only screen and (max-width: 520px) {
		@include adjust-font-size-to($headline-font-size * 0.5, 1);
	}
}

p, ul, ol, dl {
	@include trailer(1);
}

em {
	font-weight: 700;
	background-color: #FEFDE1;
}

strong {
	font-weight: 700;
}

#main {
	ul {
		padding-left: 1.5em;
		list-style-type: disc;
	}
	ol {
		padding-left: 1.5em;
		list-style-type: decimal;
	}
	&.about {
		ul, ol {
			padding: 0;
			@include trailer(1);
			li {
				display: inline;
			}
		}
		ol li {
			display: block;
			border-bottom: 1px solid darken(white, 20);
			@include padding-leader(0.25);
			@include padding-trailer(0.25);
			strong {
				margin-right: 0.25em;
				@media only screen and (max-width: 520px) {
					display: block;
					clear: both;
				}
			}
		}
	}
}